header {
  background-color: yellow;
  color: black;
  height: 3rem;
  /* Font */
  font-family: "Ubuntu Sans Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-size: 28px;
}

body {
  /* Font */
  font-family: 'Inter', sans-serif;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Bebas Neue', sans-serif;
  letter-spacing: 0.02em;
}

footer {
  background-color: black;
  color: white;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2rem;
  /* Font */
  font-family: "Ubuntu Sans Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.horizontal-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}

.card {
  border: 2px solid black;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

.image-title {
  font-size: 12px;
  text-align: center;
}

.image {
  height: 150px;
  width: 150px;
}

.header-name {
  font-family: 'Inter', sans-serif;
  font-size: 1.5rem;
  line-height: 2rem;
  letter-spacing: 0.05rem;
  font-weight: 100;
  align-items: center;
  justify-content: center;
  padding-left: 1.5rem;
}

.header-hyperlinks {
  padding-right: 1.5rem;
  font-family: 'Inter', sans-serif;
  font-size: 0.875rem;
  line-height: 1.25rem;
  letter-spacing: 0.05rem;
  font-weight: 100;
}

.hero {
  height: calc(100vh - 3rem); /* This is 100% of the screen - the header height */
  background-color: black;
  color: yellow;
}

.hero-container {
  padding: 5rem 2rem 5rem 2rem;
}

.hero-title {
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 500;
  letter-spacing: 0.1em;
}

.hero-first-name {
  margin: 0;
  font-family: 'Inter', sans-serif;
  font-size: 8rem;
  line-height: 1;
  letter-spacing: -0.025em;
  font-weight: 100;
  color: white;
}

.hero-last-name {
  color: yellow;
}

.hero-subtitle {
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: 500;
  color: #ffffffcc;
  max-width: 32rem;
}

.hero-button {
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 500;
  letter-spacing: 0.1em;
  color: black;
  background-color: yellow;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 4rem;
  padding: 1rem 2rem;
}